html {
  scroll-behavior: smooth;
}
body{
  background-color: ;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
 

  nav {
    background-color: #ddd;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #000;
  }
  
  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li a {
    text-decoration: none;
    color: #333;
  }
  
  li a:hover {
    color: #000;
  }
  
  .left{
    width: 40%;
    float: left;
  }
  .right{
    width:40%;
    float: right;
  }
  .zoom{
    
 padding: 50px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.zoom:hover {
    transform: scale(2.1);
}
  